################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DataExtraction - ML Extractor - Demo - Copy/v15/.suo
/.vs/slnx.sqlite
